.products-list{
    display: grid;
    margin:100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 60px;
}
.product{
    width: 500px;
    font-size: 1.5rem;
}
.product>.image{
    width: 500px;
    height: 600px;
    margin-bottom: 20px;
}
.product > .image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.product-name{
    font-size: 1.8rem;
    font-weight: 700;
}
.image>img{
    width: 100%;
}
 button{
    width: 100%;
    border: 1px solid white;
    background-color: #603601;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 10px 0;
}
.btn-group{
    display: flex;
}
.product input{
    font-size: 1.5rem;
    border: none;
}
.cart-icon{
    text-align: right;
    margin: 20px 100px 0 0;
    color: #603601;
}
.shopping>h1{
    font-size: 3rem;
    text-align: center;
    color: #603601;
}
.material-symbols-outlined{
    font-size: 3rem;
}
.cart-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}
.cart-image{
    width: 500px;
}
.data{
    font-size: 2rem;
    padding: 100px 50px 0 0;
}
.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-number{
    font-size: 1.5rem;
    color: #603601;
}
